@media(max-width: 1024px){
    .card{
        display: flex;
        flex-direction: column-reverse;
    }

    .card picture {
        width: 100%;
    }

    .card picture img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .card .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 1.5rem
    }

    .card .info h1{
        width: 100%;
        text-align: center;
    }

    .card .info p {
        width: 100%;
        text-align: center;
    }

    .card .info .numeros {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin: 0;
        padding: 2rem 0;

    }

    .card .info .numeros h2 {
        width: 100%;
        text-align: center;
    }

    .card .info .numeros p {
        width: 100%;
    }
}